{% extends "base.html" %} {% block title %} Manage {% endblock %}

{% block body %}
<section class="manage d-flex justify-content-center align-items-center" style="height: 90vh;">

    <main class="card-manage">
        <div class="back" id="back-to">
            <i class="bi bi-chevron-left"></i>Back
        </div>
        <div class="manage-logo">
            <img src="{{ url_for('static', filename='assets/img1.png') }}" alt="">
            <img src="{{ url_for('static', filename='assets/img3.png') }}" alt="">
            <img src="{{ url_for('static', filename='assets/img2.png') }}" alt="">
        </div>
        <h1>AGKAS</h1>
        <p>Kapampangan Words</p>
        <div class="add-words">
            <a href="{{ url_for('view.player_dictionary') }}" class="btn btn-dark mb-2 w-75">Player Dictionary</a>
            <a href="{{ url_for('view.bot_dictionary') }}" class="btn btn-dark mb-2 w-75">Bot Dictionary</a>
        </div>
    </main>
</section>
{% endblock %}

{% block script %} 
<script src="{{ url_for('static', filename='js/back.js') }}"></script>
{% endblock %}