{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block body%}

<div class="contaner">
    <h1 class="text-center pt-5">Wait for other player</h1>
    <p class="text-center">Reload if the other player joins.</p>
    
    <form action="{{ url_for('multiplayer.quit_lobby', lobby_id=lobby_id) }}" method="POST" class="text-center">
        <a type="submit" class="btn btn-danger" href="{{ url_for('auth.logout') }}">QUIT</a>
    </form>
</div>


{% endblock %}


{% block script %}
{% endblock %}
