{% extends "base.html" %} 
{% block title %} Single Player {% endblock %}

{% block body %}


<section class="single-options">
  
  <nav>
    <div id="wrapper">
      <ul>
        <li class="different">
          <a href="{{ url_for('view.home') }}">
            <img src="{{ url_for('static', filename='assets/home.png') }}" alt="">
          </a>
        </li>
        <li>
          <a href="{{ url_for('view.single_player') }}">
            <img src="{{ url_for('static', filename='assets/artificial-intelligence.png') }}" alt="">
          </a>
        </li>
        <li>
          <a href="{{ url_for('view.multi_player') }}">
            <img src="{{ url_for('static', filename='assets/vs.png') }}" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="{{ url_for('static', filename='assets/brain.png') }}" alt="">
          </a>
        </li>
      </ul>
    </div>
  </nav>

    <div class="card-data">
        <div class="card-body text-center card-body-day">
            <div class="text-decoration-none difficulty-loc">
                <a class="player mb-3 text-dark" href="{{ url_for('view.easy') }}" >Masagli</a>
            </div>             
            <div class="text-decoration-none difficulty-loc">
                <a class="player mb-3 text-white"  href="{{ url_for('view.medium') }}">Medyu Masagli</a>
            </div>              
            <div class="text-decoration-none difficulty-loc">
                <a class="player mb-3 text-white" href="{{ url_for('view.hard') }}">Masakit</a>
            </div>  
            <div href="#" class="difficulty-loc">          
            <a class="player mb-3 text-white"  href="{{ url_for('view.extreme') }}">
                Sobrang sakit             
            </a>
          </div> 
        </div>
    </div>
</section>


<!-- Easy Modal -->
<div class="modal fade modal-xl" id="easyProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-profile text-center">
            <main class="profile" id="easy-player-profile">
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img1.png') }}" id="1" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img3.png') }}" id="3" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img2.png') }}" id="2" alt="Duck"></a></div>
            </main>
        </div>
      </div>
    </div>
</div>

<!-- Medium Modal -->
<div class="modal fade modal-xl" id="mediumProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-profile text-center">
            <main class="profile" id="medium-player-profile">
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img1.png') }}" id="1" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img3.png') }}" id="3" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img2.png') }}" id="2" alt="Duck"></a></div>
            </main>
        </div>
      </div>
    </div>
</div>


<!-- Hard Modal -->
<div class="modal fade modal-xl" id="hardProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-profile text-center">
            <main class="profile" id="hard-player-profile">
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img1.png') }}" id="1" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img3.png') }}" id="3" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img2.png') }}" id="2" alt="Duck"></a></div>
            </main>
        </div>
      </div>
    </div>
</div>


<!-- Extreme Modal -->
<div class="modal fade modal-xl" id="extremeProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-profile text-center">
            <main class="profile" id="extreme-player-profile">
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img1.png') }}" id="1" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img3.png') }}" id="3" alt="Duck"></a></div>
                <div class="c-profile"><a href="#"><img src="{{ url_for('static', filename='assets/img2.png') }}" id="2" alt="Duck"></a></div>
            </main>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/back.js') }}"></script>
<script src="{{ url_for('static', filename='js/difficulty/easy.js') }}"></script>
{% endblock %}
