{% extends "base.html" %} {% block title %} Easy {% endblock %}

{% block body %}

<section class="manage" style="height: 90vh;">
    <div class="container" style="max-height: 90vh; overflow-y: auto;">
        <h2 class="text-center py-3">Single Player</h2>
        <div class="row">
            <div class="col-md-12 text-center">
                <p id="timer">Time left: 30s</p>
                <p id="player-score">Player Score: 0</p>
                <p id="bot-score">Bot Score: 0</p>
                <button id="reset" class="mb-3 p-2 px-4 btn btn-danger">Reset</button>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 text-center">
                            <label for="player-word" class="form-label">Player</label>
                            <div class="input-group">
                                <input type="text" name="player_word" class="form-control" id="player-word" required placeholder="Word" autocomplete="off">
                                <span class="input-group-text" id="word-icon"></span>
                            </div>
                        </div>
                        <div class="py-2" id="player-result"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12 text-center">
                            <label for="bot-word" class="form-label">Bot</label>
                            <input disabled type="text" name="bot_word" class="form-control" id="bot-word" required placeholder="Word" autocomplete="off">
                        </div>
                        <div id="bot-result" class="py-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-result"></div>
</div> 

{% endblock %}


{% block script %}

{% endblock %}