@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
h1, h2, h3, h4, h5, h6, p, span, a{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #f5f3e6;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 10vh;
    background-color:#de9878;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
}



/* HEART */

#heart {
    position: relative;
    width: 300px; /* Set width to 300px */
    height: 270px; /* Set height to 270px */
    animation: heartbeat 1s infinite;
    margin: 0 auto;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 150px; /* Adjusted for larger size */
    top: 90px; /* Adjusted for larger size */
    width: 150px; /* Set width to 150px */
    height: 240px; /* Set height to 240px */
    background: #ff0000;
    border-radius: 75px 75px 0 0; /* Adjusted for larger size */
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}

.hero-name{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #de9878;
}

nav{
    width: 100%;
    position: fixed;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -3%);
    z-index: 1;
    transition: all ease-in-out .2s;

}

nav ul{
    width: 60%;
    margin: auto;
    height: 60px;
    background-color: #fff;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 20px;
}

nav ul li{
    list-style: none;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
    
}

#wrapper li a{
    text-decoration: none;
    position: relative;
}

nav ul li img{
    width: 30px;
}


.options{
    text-align: center;
    margin: auto;
    width: 60%;
}

.single-options{
    text-align: center;
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

.options h3{
    margin: 50px 0 30px 0;
}


.options h5 span{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color:#de9878;
}

#nameBtn{
    cursor: pointer;
}


.card-data{
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
    margin: auto;
    height: 100%;
}

.card-body{
    padding:60px 40px;
}

.card-body-day{
    padding:60px 40px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 80%;
    border-radius: 20px;
}

.card-header{
    margin-top: 30px;
}

.card-body-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.difficulty-loc:nth-child(1){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 3% 0;
    border-radius: 10px;
    background-color: #e7e6e6;
    cursor: pointer;
    width: 50%;
    margin-bottom: 10px;
    margin: auto auto 10px auto;
    
}

.player:nth-child(1){
    color: #000;
    text-decoration: none;
}

.player:nth-child(2){
    color: #fff;
    text-decoration: none;
}


.difficulty-loc:nth-child(2){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 3% 0;
    border-radius: 10px;
    background-color: #3b8004;
    cursor: pointer;
    width: 50%;
    margin-bottom: 10px;
    margin: auto auto 10px auto;
    
}

.difficulty-loc:nth-child(3){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 3% 0;
    border-radius: 10px;
    background-color: #efa41c;
    cursor: pointer;
    width: 50%;
    margin-bottom: 10px;
    margin: auto auto 10px auto;
}

.difficulty-loc:nth-child(4){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 3% 0;
    border-radius: 10px;
    background-color: #e62e2d;
    cursor: pointer;
    width: 50%;
    margin-bottom: 10px;
    margin: auto auto 10px auto;
}



/* for player disabled when bot turns */
.disabled {
    pointer-events: none;
    background-color: #e9ecef;
}
.logos{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.logos img{
    width: 100px;
    /* height: 150px; */
}

.card-manage{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    width: 300px;
    text-align: center;
    width: 40%;
    padding: 0.2% 1.5% 5% 1.5%;
    border-radius: 30px;
    line-height: 1px;
}

.card-manage h1{
    font-size: 70px;
}

.manage-logo img{
    width: 80px;
    height: 100px;
}

.add-words{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
}

.back{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.back i{
    font-size: 25px;
}

.back{
    font-size: 32px;
    font-weight: bolder;
}

.player-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 300px;
    text-align: center;
    padding: 2% 1.5% 2% 1.5%;
    border-radius: 30px;
}

.main-dictionary{
    text-align: center; 
}

.main-dic-title{
    margin: 50px 0;
    line-height: 5px;
}

.main-dic-title p{
    font-size: 24px;
}

.main-dictionary main{
    text-align: left;
    margin: auto;
    width: 70%;
}

.add-words-table table{
    text-align: center;
    margin: 5% 0;
    width: 100%;
}

.add-words-table table th{
    font-size: 24px;
}

.adding-words input::placeholder{
    text-align: center;
}

.adding-words textarea::placeholder{
    text-align: center;
}

/* Profile style */
.modal-profile{
    margin: auto;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
}

.profile div{
    text-decoration: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    height: 200px;
    border-radius: 60px;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile div:nth-child(2){
    margin: 0 30px;
}

.profile img{
    width: 150px;
} 

.single-player-profile img{
    width: 100px;
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translate(-50%, -5%);
}

.quit{
    position: absolute;
    right: 5%;
    font-size: 28px;
}

.quit-mul{
    background-color: transparent;
    border: none;
}

.quit-mul img{
    width: 32px;
}

.multi-close img{
    width: 32px;
    margin-left: 10px;
}

.quit img{
    width: 32px;
}

.manage{
    position: relative
}

.history{
    position: absolute;
    top: 3%;
    
}

.history img{
    width: 32px;
    /* font-size: 25px;
    font-weight: 900; */
}

.btn-close{
    background-color:  #e74133;
    border-radius: 50%;
    color:#fff !important;
}
.word-icon img{
    width: 24px;
}
/* Multi Player */
.multiplayer{
    width: 60%;
    margin: auto;
    height: 88vh;
}

.multi-back{
    font-size: 32px;
    font-weight: bolder;
}
.multi-back i{
    font-size: 25px;
}

.lobby-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.createLobby{
    position: absolute;
    top: 15px;
    right: 10px;
}

.lobby-items{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #fcf7f7;
}

.lobby-name{
    font-size: 32px;
    flex: 1;
}

.user-join{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dot-empty {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid gold;
    margin-right: 20px;
}
.dot-user {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gold;
    margin-right: 20px;
}


.lobbyFullPointer{
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
    color: blue;
}

.quitPlayer{
    position: absolute;
    top: 3%;
    right: 5%;
}

@media screen and (max-width: 991px){
    .card-data {
        width: 400px;
    }
    .profile img{
        width: 140px;
    } 
}

@media screen and (max-width: 768px){
    .card-data {
        width: 400px;
    } 
}




@media screen and (max-width: 500px){
    nav ul{
        width: 90%;
    }
    .profile div{
        border-radius: 10px;
    } 
    .profile img{
        width: 130px;
    }

    .difficulty-loc:nth-child(1) {
        width: 100%;
        padding: 7% 0;
    }
    .difficulty-loc:nth-child(2) {
        width: 100%;
        padding: 7% 0;
    }
    .difficulty-loc:nth-child(3) {
        width: 100%;
        padding: 7% 0;
    }
    .difficulty-loc:nth-child(4) {
        width: 100%;
        padding: 7% 0;
    }

    #heart {
        position: relative;
        width: 100px;
        height: 90px;
        animation: heartbeat 1s infinite;
        margin:0 auto
    }
    #heart:before,
    #heart:after {
        position: absolute;
        content: "";
        left: 50px;
        top: 0;
        width: 50px;
        height: 80px;
        background: #ff0000;
        -moz-border-radius: 50px 50px 0 0;
        border-radius: 50px 50px 0 0;
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 0 100%;
           -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
             -o-transform-origin: 0 100%;
                transform-origin: 0 100%;
    }
    #heart:after {
        left: 0;
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 100% 100%;
           -moz-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
             -o-transform-origin: 100% 100%;
                transform-origin :100% 100%;
    }
    
    

}
@media screen and (max-width: 425px){
    .card-data {
        width: 370px;
    }
    .profile{
        flex-direction: column;
    }
}
@media screen and (max-width: 420px){
    .card-data {
        width: 335px;
    }
}
